# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
ENV/

# OS artifacts
Thumbs.db
Desktop.ini
.DS_Store

# Log files
*.log

# Pickle files (environment dependent, generated on-the-fly)
*.pkl
